/* Змінні */

/* div {
    --text-color: green;
    --text-size: 50px;
}

p {
    --main-color: blue;
}

#div1 {
    font-size: var(--text-size);
}

#div2 {
    color: var(--text-color);
}

#div3 {
    font-size: var(--text-size);
    color: var(--text-color);
}

p {
    background-color: var(--main-color);
} */


/* :root {
    --text-color: green;
    --text-size: 50px;
    --main-color: blue;
}


#div1 {
    font-size: var(--text-size);
}

#div2 {
    color: var(--text-color);
}

#div3 {
    font-size: var(--text-size);
    color: var(--text-color);
    background-color: var(--main-color);
}

p {
    background-color: var(--main-color);
} */



:root {
    --panel-bg-color: #dfe4ea;
    --container-bg-color: #f1f2f6;
    --text-color: #2f3542;
}

:root[theme="dark"] {
    --panel-bg-color: #2f3542;
    --container-bg-color: #57606f;
    --text-color: #ced6e0;
}

* {
    margin: 0;
}


html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Verdana;
    color: var(--text-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--panel-bg-color);
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav ul a {
    padding: 10px;
    text-decoration: none;
    color: var(--text-color);
}

nav ul a:hover {
    background-color: var(--text-color);
    color: var(--panel-bg-color)
}

/* html[theme='dark'] nav ul a:hover{
    background-color: red;
    color: var(--panel-bg-color)
} */


.container {
    flex: 1;
    padding: 20px;
    background-color: var(--container-bg-color);
}


input[type="button"] {
    padding: 10px;
    background-color: var(--panel-bg-color);
    color: var(--text-color);
    font-size: 17px;
}


footer {
    background-color: var(--panel-bg-color);
    padding: 10px;
    text-align: center;
}